* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    background-color: #1e2335;
}

main {
    display: grid;
    align-items: center;
    margin: auto;
    padding: 50px;
    gap: 30px;
}

[class*="item"] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    float: left;
}

.mainimg {
    width: 15em;
    margin: auto;
}

.mainimg:hover {
    animation: mitem 0.5s forwards;
}

.mainimg:not(:hover) {
    animation: metim 0.5s forwards;
}

.maingun {
    width: 15em;
    margin: auto;
}

.maingun:hover {
    animation: mgun 0.5s forwards;
}

.maingun:not(:hover) {
    animation: nugm 0.5s forwards;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.title img {
    width: 18em;
}

.cases {
    display: grid;
    align-items: center;
    margin: auto;
    padding: 20px;
    gap: 10px;
    max-width: 100%;
}

.case {
    width: 10rem;
}

.case:hover {
    animation: mitem 0.5s forwards;
}

.case:not(:hover) {
    animation: metim 0.5s forwards;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
}

/*------------------------- nav -------------------------*/

nav {
    display: flex;
    background-color: #1e1e32;
}

menu li {
    cursor: pointer;
    font-weight: bold;
    color: #a1a1a1;
}

menu a:hover {
    animation: menu 0.5s forwards;
}

menu a:not(:hover) {
    animation: unem 0.5s forwards;
}

#logo {
    position: absolute;
    left: 0;
    height: 80px;
    margin-right: 20px;
    margin-left: 2rem;
}

.micon {
    height: 30px;
    margin-right: 2vw;
}

.micon:hover {
    animation: icon 0.5s forwards;
}

.micon:not(:hover) {
    animation: noci 0.5s forwards;
}

@keyframes icon {
    from {filter: invert(68%) sepia(2%) saturate(170%) hue-rotate(54deg) brightness(95%) contrast(85%);}
    to {filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(10deg) brightness(102%) contrast(105%);}
}

@keyframes noci {
    from {filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(10deg) brightness(102%) contrast(105%);}
    to {filter: invert(68%) sepia(2%) saturate(170%) hue-rotate(54deg) brightness(95%) contrast(85%);}
}

/*------------------------- footer -------------------------*/

.footer-container {
    background-color: rgb(30, 30, 50);
    margin-top: 10px;
}

.footer-logo {
    text-align: center;
    padding: 2rem;
}

.footer-links, .footer-sm{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer-logo img {
    width: 200px;
}

.footer-links {
    column-gap: 2rem;
    margin-bottom: 2rem;
    list-style-type: none;
}

.footer-links a {
    color: rgb(160, 160, 160);
    text-decoration: none;
}

.footer-links a:hover {
    font-weight: bold;
    color: #fff;
}

.footer-sm {
    column-gap: 2rem;
    padding-bottom: 2rem;
}

.footer-sm img{
    width: 2rem;
}

.footer-sm :hover{
    transform: translateY(-5px);
    transition: .3s;
}

/*-----------------------------------------------------------*/

@keyframes mitem {
    from {filter: drop-shadow();}
    to {filter: drop-shadow(0 0 2rem #011ffd); scale: 1.25;}
}

@keyframes metim {
    from {filter: drop-shadow(0 0 2rem #011ffd); scale: 1.25;}
    to {filter: drop-shadow();}
}

@keyframes mgun {
    from {filter: drop-shadow();}
    to {filter: drop-shadow(0 0 2rem #011ffd); scale: 1.25; transform: rotate(0.05turn);}
}

@keyframes nugm {
    from {filter: drop-shadow(0 0 2rem #011ffd); scale: 1.25; transform: rotate(0.05turn);}
    to {filter: drop-shadow();}
}

@media only screen and (max-width: 768px) {
    menu li {display: block;}
    nav {justify-content: right; height: 110px; align-items: flex-end;}
    main {grid-template-columns: auto;}
    .cases {width: fit-content;}
    .item9 {display: none;}
}

@media only screen and (min-width: 769px) {
    menu li {display: inline-block;}
    nav {justify-content:flex-end; height: 80px; align-items: center;}
    main {grid-template-columns: auto auto auto;}
    .cases {grid-template-columns: auto auto auto auto;}
    .c6 {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .c6 img {width: 25em;}
}

@media only screen and (min-width: 993px) {
    menu li {display: inline-block;}
    nav {justify-content:flex-end; height: 80px; align-items: center;}
    main {display: grid; grid-template-columns: auto auto auto auto;}
    .cases {grid-template-columns: auto auto auto auto auto auto;}
    .item9 {display: none;}
    .c1 {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .c6 {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 3;
        grid-column-end: 5;
    }
    .c11 {
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column-start: 5;
        grid-column-end: 7;
    }

    .c1 img {width: 25em;}
    .c6 img {width: 25em;}
    .c11 img {width: 25em;}

}