*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1E2335;
    color: #fff;
}

/* -----------------------------------------NAV SECITON--------------------------------------------- */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: rgb(30, 30, 50);
}

menu ul {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

menu li {
    display: inline-block;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: hsl(0, 0%, 63%);
}

menu a:hover {
    animation: menu 0.5s forwards;
}

menu a:not(:hover) {
    animation: unem 0.5s forwards;
}

.micon {
    height: 30px;
    margin-right: 2vw;
}

.micon:hover {
    animation: icon 0.5s forwards;
}

.micon:not(:hover) {
    animation: noci 0.5s forwards;
}

#logo {
    position: absolute;
    left: 0;
    height: 80px;
}

@keyframes menu {
    from {color: rgb(160, 160, 160);}
    to {color: white;}
}

@keyframes unem {
    from {color: white;}
    to {color: #a0a0a0;}
}

@keyframes icon {
    from {filter: invert(68%) sepia(2%) saturate(170%) hue-rotate(54deg) brightness(95%) contrast(85%);}
    to {filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(10deg) brightness(102%) contrast(105%);}
}

@keyframes noci {
    from {filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(10deg) brightness(102%) contrast(105%);}
    to {filter: invert(68%) sepia(2%) saturate(170%) hue-rotate(54deg) brightness(95%) contrast(85%);}
}


/* -----------------------------------------WEAPONS SECITON--------------------------------------------- */

.weapons-title {
    display: flex;
    column-gap: 1rem;
    margin: 3rem auto 3rem auto;
    width: min(90%, 75rem);
    font-size: 1rem;
}

.weapons-title img {
    width: 2rem;
}

/* FOR GRID */
.weapons-area {
    display: grid;
    grid-template-areas: 
    'one'
    'two'
    'three'
    'four'
    'five'
    'six';
    grid-auto-columns: 1fr;
    gap: 1rem;
    margin: 2rem auto 5rem auto;
    width: min(90%,75rem);
}

.weapon {
    text-align: center;
}

.weapon:nth-child(1) {
    grid-area: one;
}

.weapon:nth-child(2) {
    grid-area: two;
}

.weapon:nth-child(3) {
    grid-area: three;
}

.weapon:nth-child(4) {
    grid-area: four;
}

.weapon:nth-child(5) {
    grid-area: five;
}

.weapon:nth-child(6) {
    grid-area: six;
}

/* FOR iPAD */
@media (min-width: 600px){
    .weapons-area {
        grid-template-areas:
        'one one two'
        'one one three'
        'four five six';
    }
}

/* FOR DESKTOP */
@media (min-width: 768px){
    .weapons-area {
        grid-template-areas: 
        'one one two three'
        'one one six six'
        'four five six six'

    }
}

.weapons-area img {
    width: 60%;
    aspect-ratio: 3/2;
    object-fit: contain;
    filter: drop-shadow(0 0 1rem #fff);
}

.weapons-area img:hover {
    filter: drop-shadow(0 0 0.75rem #0044ff);
    transform: scale(1.15);
    transition: transform 0.6s ease;
}

.weapons-area h2 {
    padding: 2rem 0 1rem 0;
    font-size: 16px;
}

.weapons-area a {
    display: inline-block;
    background-color: #1E2335;
    border-radius: 50px;
    border: solid 1px rgb(61, 90, 254);
    color: #fff;
    padding: 1rem;
    margin-bottom: 2rem;
    width: 8rem;
    text-decoration: none;
}

.weapons-area a:hover{
    display: inline-block;
    background-color: rgb(61, 90, 254);
    border-radius: 50px;
    color: #fff;
    padding: 1rem ;
    width: 8rem;
    text-decoration: none;
}

/* -----------------------------------------KNIVES SECITON--------------------------------------------- */
.knife-title {
    display: flex;
    column-gap: 1rem;
    margin: 5rem auto 3rem auto;
    width: min(90%, 75rem);
    font-size: 1rem;
}

.knife-title img {
    width: 2rem;
}


.knives-area {
    display: grid;
    grid-template-areas: 
    'one'
    'two'
    'three'
    'four'
    'five'
    'six';
    grid-auto-columns: 1fr;
    gap: 2rem;
    margin: 3rem auto;
    width: min(90%,75rem);
}

.knife-pov {
    text-align: center;
}

.knife-map {
    text-align: center;
}

.knife {
    text-align: center;
    background-color: rgb(28, 30, 34);
    border: #000 solid 1px;
    border-radius: 10px;
    padding: 3rem;
}


.knife-pov:nth-child(1) {
    grid-area: one;
}

.knife-map:nth-child(2) {
    grid-area: two;
}

.knife:nth-child(3) {
    grid-area: three;
}

.knife:nth-child(4) {
    grid-area: four;
}

.knife:nth-child(5) {
    grid-area: five;
}

.knife:nth-child(6) {
    grid-area: six;
}


@media (min-width: 520px){
    .knives-area {
        grid-template-areas:
        'one two'
        'three four'
        'five six';
    }
}

@media (min-width: 960px){
    .knives-area {
        grid-template-areas: 
        'one two three'
        'four five six';
    }
}

.knives-area img {
    width: 60%;
    aspect-ratio: 3/2;
    object-fit: contain;
    filter: drop-shadow(0 0 1rem #fff);
}

.knives-area img:hover {
    filter: drop-shadow(0 0 0.75rem #0044ff);
    transform: scale(1.15);
    transition: transform 0.6s ease;
}

.knives-area h2 {
    padding: 2rem 0 4rem 0;
    font-size: 16px;
}

.knives-area a {
    display: inline-block;
    background-color: #1E2335;
    border-radius: 50px;
    border: solid 1px rgb(61, 90, 254);
    color: #fff;
    padding: 1rem;
    margin-top: 2rem;
    width: 8rem;
    text-decoration: none;
}

.knives-area a:hover{
    display: inline-block;
    background-color: rgb(61, 90, 254);
    border-radius: 50px;
    color: #fff;
    padding: 1rem ;
    width: 8rem;
    text-decoration: none;
}




/* -----------------------------------------FOOTER SECITON--------------------------------------------- */

.footer-container {
    background-color: rgb(40, 40, 40)
}

.footer-logo {
    text-align: center;
    padding: 2rem;
}

.footer-links, .footer-sm{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer-logo img {
    width: 200px;
}

.footer-links {
    column-gap: 2rem;
    margin-bottom: 2rem;
    list-style-type: none;
}

.footer-links a {
    color: rgb(160, 160, 160);
    text-decoration: none;
}

.footer-links a:hover {
    font-weight: bold;
    color: #fff;
}

.footer-sm {
    column-gap: 2rem;
    padding-bottom: 2rem;
}

.footer-sm img{
    width: 2rem;
}

.footer-sm :hover{
    transform: translateY(-5px);
    transition: .3s;
}
