* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1e2335;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: rgb(30, 30, 50);
}

menu ul {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

menu li {
    display: flex;
    align-items: center;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    color: rgb(160, 160, 160);
}

menu li:hover {
    animation: menu 0.5s forwards;
}

menu li:not(:hover) {
    animation: unem 0.5s forwards;
}

@keyframes menu {
    from {color: rgb(160, 160, 160);}
    to {color: white;}
}

@keyframes unem {
    from {color: white;}
    to {color: rgb(160, 160, 160);}
}
